*.aux
*.log
*.out
doc/manualRus.pdf
doc/manualRus.synctex.gz
*.toc
doc/manualRus.aux
*.aux
*.out
*.log
*.toc
*.rootmap
*.so
*.cxx
*.pcm
ResponseDataBase/ResponseDB.root
*.pdf
*.pdf
testing/exp
testing/MultiFitMT.cpp
tutorials/tutorials_for_data_analysis/GetEvaluatedData/0.tex
tutorials/tutorials_for_data_analysis/GetEvaluatedData/1.tex
tutorials/tutorials_for_data_analysis/GetEvaluatedData/2.tex
tutorials/tutorials_for_data_analysis/GetEvaluatedData/3.tex
tutorials/tutorials_for_data_analysis/GetEvaluatedData/references.txt
