<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Language" content="ru">
<title>Результаты расчетов (Output Talys)</title>
<link rel="SHORTCUT ICON" href="/static/favicon.ico">
<link rel="stylesheet" href="/static/main.css">
<meta name="wot-verification" content="e27f5472d2b528316695">
</head>

<body>
<!--
<div align="center"><a href="http://nuclphys.sinp.msu.ru/School2021/"><img src="http://nuclphys.sinp.msu.ru/School2021/images/banner.png" width="940" height="163" alt="" border="0"></a></div>
-->

<hr>
{{result|safe}}
</body>
</html>
