<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Language" content="ru">
<title>Результаты расчетов (список гамма-линий)</title>
<link rel="SHORTCUT ICON" href="/static/favicon.ico">
<link rel="stylesheet" href="/static/main.css">
<meta name="wot-verification" content="e27f5472d2b528316695">
</head>

<body>
<!--
<div align="center"><a href="http://nuclphys.sinp.msu.ru/School2021/"><img src="http://nuclphys.sinp.msu.ru/School2021/images/banner.png" width="940" height="163" alt="" border="0"></a></div>
-->
<form method="POST">
<input type="submit" name="DownloadOutput" value="Выходной файл TALYS">
<input type="submit" name="Back" value="Назад">
</form>
<hr>
{{result|safe}}

<p>Сайт в разработке. Замечания и предложения по улучшению работы
  просьба писать на github <a href="https://github.com/terawatt93/TalysLib/discussions/10">по ссылке</a>.
</p>
</body>
</html>
